@import "tailwindcss";
@plugin "daisyui";

@plugin "daisyui/theme" {
  name: "kani";
  default: true;
  prefersdark: false;
  color-scheme: "light";
  --color-base-100: oklch(98% 0 0);
  --color-base-200: oklch(97% 0 0);
  --color-base-300: oklch(92% 0 0);
  --color-base-content: oklch(20% 0 0);
  --color-primary: #ed5227;
  --color-primary-content: oklch(100% 0 0);
  --color-secondary: oklch(71% 0.143 215.221);
  --color-secondary-content: oklch(98% 0.018 155.826);
  --color-accent: #394d77;
  --color-accent-content: oklch(100% 0 0);
  --color-neutral: #f87653;
  --color-neutral-content: oklch(98% 0 0);
  --color-info: oklch(55% 0.046 257.417);
  --color-info-content: oklch(97% 0.013 236.62);
  --color-success: oklch(64% 0.2 131.684);
  --color-success-content: oklch(98% 0.018 155.826);
  --color-warning: oklch(68% 0.162 75.834);
  --color-warning-content: oklch(98% 0.022 95.277);
  --color-error: oklch(51% 0.222 16.935);
  --color-error-content: oklch(97% 0.013 17.38);
  --radius-selector: 0.5rem;
  --radius-field: 0.5rem;
  --radius-box: 1rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 0;
  --noise: 1;
}

:root:has(input.theme-controller[value="kanikani"]:checked),
[data-theme="kanikani"] {
  color-scheme: light;
  --color-base-100: oklch(98% 0.02 240);
}

body {
  font-family: "Meiryo", Arial, Helvetica, sans-serif;
  background-image: url("/bg-left.png"), url("/bg-right.png");
  background-position: top left, top right;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

@media (max-width: 768px) {
  body {
    background-image: none;
  }
}

@layer utilities {
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  .animate-fadeIn {
    animation: fadeIn 1.5s ease-in-out forwards;
  }
}